<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>

  <ion-navbar>
    <ion-title>Καλωσήλθατε</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<app-login-form (loginStatus)="login($event)"></app-login-form>
</ion-content>
