<ion-header no-border>
    
      <ion-navbar>
       
      </ion-navbar>
    
    </ion-header>

<ion-content padding>
  <h1>Σας στείλαμε ένα κωδικό.</h1>

  <p>Εισάγετε τον κωδικό που σας στείλαμε με SMS για να επαληθεύσετε τον αριθμό του τηλεφώνου σας.</p>

  <form #smsForm="ngForm" >

    <ion-item>

      <ion-input [(ngModel)]="code" type="text" name="code" #Code="ngModel" placeholder="Κωδικός" required ></ion-input>
    </ion-item>

<!-- 
    <div padding *ngIf="Code.invalid && Code.dirty">
      <span class="global__input-error"> Ο κωδικός θα πρέπει να αποτελείτε από 10 ψηφία </span>
    </div>
 -->
    <button icon-end ion-button class="center" round (click)="submit(code)" [disabled]="Code.hasError('required')">
      ΕΠΑΛΗΘΕΥΣΗ

    </button>
  </form>

</ion-content>