<ion-item>
  <ion-label floating>Όνομα</ion-label>
  <ion-input type="text" [(ngModel)]="profile.firstName" required></ion-input>
</ion-item>

<ion-item>
  <ion-label floating>Επίθετο</ion-label>
  <ion-input type="text" [(ngModel)]="profile.lastName"></ion-input>
</ion-item>

<ion-item>
    <ion-label floating>Αριθμός τηλεφώνου</ion-label>
    <ion-input type="number" #Phone="ngModel" [(ngModel)]="profile.phone" pattern="[0-9]{10}$" ></ion-input>
  </ion-item>
  <div padding *ngIf="Phone.hasError('pattern')">
      <span class="global__input-error"> Ο αριθμός θα πρέπει να αποτελείτε από 10 ψηφία </span>
    </div>

<ion-item>
  <ion-label floating>Εταιρικό email</ion-label>
  <ion-input type="text" [(ngModel)]="profile.corpEmail"></ion-input>
</ion-item>

<ion-item>
  <ion-label floating>Ημερομηνία γέννησης</ion-label>
  <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="profile.dateOfBirth"></ion-datetime>
</ion-item>

<button ion-button (click)="saveProfile()" [disabled]="Phone.hasError('pattern')" >ΑΠΟΘΗΚΕΥΣΗ</button>