<!--
  Generated template for the RegisterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>

  <ion-navbar>
    <ion-title>Δημιουργία λογαριασμού</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

 <app-register-form (registerStatus)="register($event)"></app-register-form>
</ion-content>
