<ion-tabs no-border>
  <ion-tab [root]="tab1Root" tabIcon="icon-wallet" tabsHideOnSubPages="true"></ion-tab>
  <ion-tab [root]="tab2Root" tabIcon="icon-user"  tabsHideOnSubPages="true"></ion-tab>
  <!-- <ion-tab [root]="tab3Root" tabTitle="Account" tabIcon="contact" tabsHideOnSubPages="true"></ion-tab> -->
</ion-tabs>

<!-- 
<ion-tabs no-border selectedIndex="1"></ion-tabs> -->