  <ion-item>
      <ion-thumbnail item-start>
        <img src="assets/img/profile_pic.jpg">
      </ion-thumbnail>
       <div *ngIf="userProfile"> 
        <div><span class="title"> {{userProfile.firstName}} {{userProfile.lastName}} </span><br></div>
       
       
        <header>  {{userProfile.email}} 
        </header>
       
      </div> 
    </ion-item> 


     <!-- <div *ngIf="userProfile"> -->
        <!-- <ion-input [value]="userProfile.email"> </ion-input> -->