<!--
  Generated template for the EditprofilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>

  <ion-navbar>
    <ion-title>Επεξεργασία προφίλ</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<app-edit-profile-form [profile]="profile" (saveProfileResult)="saveProfileResult($event)"></app-edit-profile-form>

</ion-content>
