<form #registerForm="ngForm" novalidate>
<ion-item>
  <ion-label floating>Email</ion-label>
  <ion-input [(ngModel)]="account.email" type="email" type="email" name="email" #email="ngModel" required email></ion-input>
</ion-item>

<div padding *ngIf="email.invalid && email.dirty">
  <span class="global__input-error"> Email is not valid</span>
</div>

<ion-item>
  <ion-label floating>Password</ion-label>
  <ion-input [(ngModel)]="account.password" type="password" name="password" #password="ngModel" required pattern="(?=.*[0-9])[a-zA-Z0-9!@#$%^&*]{6,16}$"></ion-input>
</ion-item>

<div padding *ngIf="password.invalid && password.dirty">
  <span class="global__input-error"> Password must have 6 to 16 characters and 1 number </span>
</div>

  <button ion-button full (click)="register()" [disabled]="registerForm.invalid"> Register </button>
</form>