page-contact {
  ion-grid.confirm {
    justify-content: center;
    ion-row {
      ion-col {
        text-align: center;
        .main-icon {
          font-size: 8em;
        }
      }
      &.buttons {
        margin: auto;
      }
    }
  }

  .no-result {
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
  }
}
