<ion-header no-border>
  <ion-navbar >
    <ion-title>
      Επαφές
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-grid padding class="confirm" *ngIf="!isContactAccessConfirmed && isInit">
    <ion-row>
      <ion-col>
        <ion-icon color="text-light" class="main-icon" name="contacts"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <p>
        <span color="text-dark"><b>Εισάγετε τις επαφές σας για να τους στέλνετε κάρτες.</b></span><br/><br/>
        <span color="text-light">Δεν θα αποθηκεύσουμε δεδομένα του καταλόγου σας αλλά θα κάνουμε την αποστολή και λήψη καρτών πανεύκολη.</span>
        </p>
      </ion-col>
    </ion-row>
    <ion-row class="buttons">
<!--       <ion-col>
        <button ion-button outline round (click)="dismiss()">ΟΧΙ ΤΩΡΑ</button>
      </ion-col> -->
      <ion-col>
        <button ion-button primary round (click)="confirm()">ΕΙΣΑΓΩΓΗ ΕΠΑΦΩΝ</button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div *ngIf="!isFetching && isContactAccessConfirmed && isInit">
    <ion-searchbar (ionInput)="searchContacts($event)"></ion-searchbar>
    <div *ngIf="groupedContacts && groupedContacts.length">
      <ion-item-group *ngFor="let group of groupedContacts">
        <ion-item-divider light>{{group.letter}}</ion-item-divider>
        <ion-item *ngFor="let contact of group.contacts">
          <h2>{{contact.name}}</h2>
          <!-- <p>{{contact.number}}</p>
          <p>{{contact.image}}</p> -->
         <!--  <ion-icon (click)="invite(contact)" name="send" item-right color="{{contact.invited ? 'primary': 'text-light'}}"></ion-icon> -->
        </ion-item>
      </ion-item-group>
    </div>
    <div *ngIf="!groupedContacts || !groupedContacts.length">
      <p class="no-result">Δεν βρέθηκαν επαφές.</p>
    </div>
  </div>
</ion-content>
