<ion-header no-border>
  <ion-navbar>
    <ion-title>
      <img class="logo" src="assets/img/logo.svg">
    </ion-title>
  </ion-navbar>
  <!--   <ion-toolbar no-border-top>
      <ion-segment [(ngModel)]="wallet">
        <ion-segment-button value="cards">
          cards
        </ion-segment-button>
        <ion-segment-button value="pos">
          Mobile POS
        </ion-segment-button>
      </ion-segment>
    </ion-toolbar> -->
</ion-header>



<ion-content class="card-background-page">

  <div class="cards" ng-switch-when="'cards'" *ngIf="wallet === 'cards'">

    <ion-card [@openCard]="openState" (click)="openCard(i); open = !open" *ngFor="let item of cards; let i = index" [ngStyle]="i == 0 && open && {'top.px': 5, 'background-color': item.bgColor} ||  
    card === i && open && {'top.px': 15, 'background-color': item.bgColor} ||
                            i == 0 && !open && {'top.px': 5, 'background-color': item.bgColor} ||                          
                             !open && {'top.px':80*i, 'background-color': item.bgColor} || 
                              open && card !== i && {'top.px':450 + (5*i), 'background-color': item.bgColor}">
      <div class="gradient"></div>
      <img *ngIf="item.image" [src]="item.image">
      <div class="logo">
        <img [src]="item.logo" />
      </div>
      <span class="balance" [ngStyle]="{'color':item.color}">{{item.balance}} €</span>
    </ion-card>

    <div>
      <button *ngIf="open" class="payButton" ion-button round (click)="scanBarcode()"> Πληρωμη με QR </button>
    </div>
  </div>


  <ion-fab right bottom *ngIf="!open && wallet === 'cards'">
    <button ion-fab color="vibrant">
      <ion-icon name="add"></ion-icon>
    </button>
    <ion-fab-list side="top">
      <button *ngIf="wallet === 'cards'" ion-button round (click)="wallet = 'pos' "> Mobile POS</button>
    </ion-fab-list>
  </ion-fab>



  <div *ngIf="wallet === 'pos'">

    <form #posForm="ngForm" novalidate>
      <ion-item>
        <ion-label floating>Σύνολο σε €</ion-label>
        <ion-input [(ngModel)]="posRequest.ammount" type="number" name="ammount" #total="ngModel" required></ion-input>
      </ion-item>

      <div padding>
        <button class="center" ion-button round [disabled]="!posRequest.ammount" (click)="generateQR( posRequest.ammount )"> Δημιουργια QR </button>
      </div>

    </form>

    <ion-fab right bottom *ngIf="wallet === 'pos'">
        <button ion-fab color="vibrant">
          <ion-icon name="add"></ion-icon>
        </button>
        <ion-fab-list side="top">
          <button *ngIf="wallet === 'pos'" ion-button round (click)="wallet = 'cards' "> ΟΙ ΚΑΡΤΕΣ ΜΟΥ </button>
        </ion-fab-list>
      </ion-fab>

  </div>


</ion-content>

<!-- <div *ngFor="let item of cards; let i = index">
    <ion-card [@openCard]="openState" (click)="openCard(i); open = !open"  
                  [ngStyle]="i == 0 && open && {'top.px': 5, 'background-color': item.bgColor} ||  
                  i == 0 && !open && {'top.px': 5, 'background-color': item.bgColor} ||   
                  !open && {'top.px':80*i, 'background-color': item.bgColor} ||   
                  i <= card && open && {'top.px':80*i, 'background-color': item.bgColor} ||
                open && i > card && {'top.px':450 + (80*i), 'background-color': item.bgColor}">
      <div class="gradient"></div>
      <img *ngIf="item.image" [src]="item.image">
      <div class="logo">
        <img [src]="item.logo" />
      </div>
      <span class="balance" [ngStyle]="{'color':item.color}">{{item.balance}} €</span>
    </ion-card>

    <div>
      <button *ngIf="open && card ===i" class="payButton" [ngStyle]="open && card ===i && {'top.px': (80*i) + 280}" ion-button round (click)="scanBarcode()" > 
        Πληρωμη με QR 
      </button>
    </div>

  </div>
</ion-card> -->