page-home {

  .no-scroll{
   overflow-y : hidden !important
  }

    .card-background-page {

      .center{
        width: auto; 
        display:block; 
        margin:auto;
    }


div.cards{
  //position: relative;
  //display: block;
  //top: 10px;

  .payButton{
    position: relative;
    top: 270px;
    margin: auto;
    display: block;
  }
  ion-card {
    position: absolute;
    text-align: center;
    border-radius: 1em;
    border-width: 1px;
    border-style: solid;
    border-color: lightgrey;
    height: 220px;
    //background-color: white;
    //box-shadow: 0px -1px 1px rgba(0,0,0,0.3);
    

    div.logo {
      position: absolute;
      top: 10px;
      left: 20px;
      max-height: 40px;
      font-size: 1.8em;
      //float: left;
      max-width: 30%;
      font-weight: bold;
      color: #fff;
    }
      span.balance {
        position: absolute;
        width: 45%;
        font-size: 1.6em;
        color: white;
        top: 7%;
       // padding-right: 10%;
      float: right;
       text-align: right;
    }
  }

  .card-title {
    position: absolute;
    top: 40%;
    font-size: 2em;
    width: 100%;
    font-weight: bold;
    color: #fff;
  }
  .card-subtitle {
    font-size: 1.0em;
    position: absolute;
    top: 60%;
    width: 100%;
    color: black;
  }

  .gradient {
  }
  .gradient::after {
    display: block;
    position: absolute;
    background: linear-gradient(rgba(0,0,0,0.1), rgba(255,0,0,0));
    top: 0px;
    height: 100%;
    width: 100%;
    content: '';
  }

  
}
}

.paycode {
  font-weight: bold;
  font-size: 2em;
  text-align: center;
  width: auto; 
  display:block; 
  margin:auto;
}

.info {
  font-size: 1.2em;
  text-align: center;
  width: auto; 
  display:block; 
  margin:auto;
}


.fab {
  text-align: center;
  -moz-appearance: none;
  -ms-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border-radius: 50%;
  position: relative;
  z-index: 0;
  display: block;
  overflow: hidden;
  width: 56px;
  height: 56px;
  font-size: 14px;
  line-height: 56px;
  text-overflow: ellipsis;
  text-transform: none;
  white-space: nowrap;
  cursor: pointer;
  -webkit-transition: background-color, opacity 100ms linear;
  transition: background-color, opacity 100ms linear;
  background-clip: padding-box;
  -webkit-font-kerning: none;
  font-kerning: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  contain: strict;
}

.fab ion-icon {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  font-size: 2.4rem;
}

ion-fab-list {
  margin: 66px 0;
  position: absolute;
  top: 0;
  right:0;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: right;
  -webkit-align-items: right;
  -ms-flex-align: right;
  align-items: right;
  min-width: 56px;
  min-height: 56px;
}

.fab-in-list {
  margin: 8px 0;
  width: 40px;
  height: 40px;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: scale(0);
  transform: scale(0);
}

.fab-in-list.show {
  opacity: 1;
  visibility: visible;
  -webkit-transform: scale(1);
  transform: scale(1);
}

ion-fab-list[side=right] {
  margin: 0 66px;
  left: 0;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.fab-list-active {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.fab-close-icon {
  left: 0;
  right: 0;
  top: 0;
  position: absolute;
  line-height: 56px;
  opacity: 0;
  -webkit-transform: scale(0.4) rotateZ(-45deg);
  transform: scale(0.4) rotateZ(-45deg);
  -webkit-transition: all ease-in-out 300ms;
  transition: all ease-in-out 300ms;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
}

.fab .button-inner {
  -webkit-transition: all ease-in-out 300ms;
  transition: all ease-in-out 300ms;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
}

.fab-close-active .fab-close-icon {
  opacity: 1;
  -webkit-transform: scale(1) rotateZ(0deg);
  transform: scale(1) rotateZ(0deg);
}

.fab-close-active .button-inner {
  opacity: 0;
  -webkit-transform: scale(0.4) rotateZ(45deg);
  transform: scale(0.4) rotateZ(45deg);
}



}
