<ion-header class="padding-bottom">
  <ion-navbar>
    <ion-title>Ticket results</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="{{ticket.game}}">

  <div class="choice">
    <ion-item no-lines>
      <ion-thumbnail item-start>
        <img *ngIf="ticket.game == 'lucky3'" src="assets/img/lucky3logo.svg">
      </ion-thumbnail>
      <h2>{{ticket.date | date }}</h2>
      <h2>{{ticket.date | date:'jm' }}</h2>
      <span item-end *ngIf="ticket.status == 'won'">+{{ticket.coinsWon}}<ion-icon name="logo-usd" item-end></ion-icon></span>
      <span item-end *ngIf="ticket.status == 'lost'">Not winning</span>
    </ion-item>
  </div>


<div class="ticket" *ngIf="!ticket.n4">
    
        <ion-grid fixed>
          <ion-row text-center>
            <ion-col>
              My selection
            </ion-col>
          </ion-row>
        </ion-grid>
  <ion-grid fixed>
    <ion-row text-center>

      <ion-col col-2>
      </ion-col>

      <ion-col col-6>

        <ion-grid fixed  >
          <ion-row text-center class="selection">

            <ion-col col-3>
              <div class="ball" [class.ball-selected]="ticket.n1 == (draw |  async)?.n1 " >
                {{ticket.n1}}
              </div>
            </ion-col>
            <ion-col col-3>
              <div class="ball" [class.ball-selected]="ticket.n2 == (draw |  async)?.n2">
                {{ticket.n2}}
              </div>
            </ion-col>
            <ion-col col-3>
              <div class="ball" [class.ball-selected]="ticket.n3 == (draw |  async)?.n3">
                {{ticket.n3}}
              </div>
            </ion-col>

          </ion-row>
        </ion-grid>
      </ion-col>

      <ion-col col-2>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid fixed>
    <ion-row text-center>
      <ion-col>
        Ticket ID: {{ticket.$key}}
      </ion-col>
    </ion-row>
  </ion-grid>
</div>

  <div >
  <ion-grid fixed>
    <ion-row text-center>
      <ion-col>
        Draw numbers
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid fixed>
    <ion-row text-center>

      <ion-col col-2>
      </ion-col>

      <ion-col col-6>

        <ion-grid fixed>
          <ion-row text-center class="selection">

            <ion-col col-3>
              <div class="ball-selected">
                {{ (draw |  async)?.n1 }}  
              </div>
            </ion-col>
            <ion-col col-3>
              <div class="ball-selected">
                  {{ (draw |  async)?.n2 }}  
              </div>
            </ion-col>
            <ion-col col-3>
              <div class="ball-selected">
                  {{ (draw |  async)?.n3 }}  
              </div>
            </ion-col>

          </ion-row>
        </ion-grid>
      </ion-col>

      <ion-col col-2>
      </ion-col>
    </ion-row>
  </ion-grid>


  <ion-grid fixed>
    <ion-row text-center>
      <ion-col>
        Draw ID: {{ticket.draw}}
      </ion-col>
    </ion-row>
  </ion-grid>
</div>

</ion-content>