page-submitmodal {

    text-align: center;
    .title{
        font-size: 1.5em;
    }
    .draw{
        font-size: 1em;
    }

 

  .choice{
    background-color: white;
    padding: 0;
    margin: 0;
    line-height: 2;
    position:relative;
    text-align:center;
  }

  
  
    .ball{
      width:100%;
  border-radius:50%;
  text-align:center;
  padding:50% 0;
  line-height:0;
  position:relative;
  background: silver;
  color: white;
  font-family: Helvetica, Arial Black, sans;
  font-size: 1,3em;
  }
.ball-selected{ width:100%;
  border-radius:50%;
  text-align:center;
  font-size: 48px;
  padding:50% 0;
  line-height:0;
  position:relative;
  background: #F0C141;
  color: white;
  font-family: Helvetica, Arial Black, sans;
  font-size: 1.4em;
  }
  ion-row{
   justify-content: center;
     text-align: center;
  }

}
