
<ion-content padding>
  <h1>Εισάγετε τον αριθμό σας.</h1>

  <div id="recaptcha-container"></div>
  <p>Για μεγαλύτερη ασφάλεια του λογαριασμού σας, παρακαλούμε εισάγετε τον αριθμό
    του τηλεφώνου σας.</p>
    <p>Μην ανησυχείτε, ο αρθμός δεν θα είναι δημόσιος και δεν θα δοθεί σε τρίτους.</p>
  <form #phoneForm="ngForm" novalidate>
 
        <ion-item>
          <ion-label >+30</ion-label>
          <ion-input [(ngModel)]="account.phone" type="number" name="phone" #phone="ngModel" placeholder="Αριθμός τηλεφώνου" required pattern="[0-9]{10}$"></ion-input>
        </ion-item>
 

    <div padding *ngIf="phone.invalid && phone.dirty">
      <span class="global__input-error"> Ο αριθμός θα πρέπει να αποτελείτε από 10 ψηφία </span>
    </div>

    <button icon-end ion-button class="center" round (click)="signInWithPhone(account.phone)" [disabled]="phoneForm.invalid"> 
      ΕΠΟΜΕΝΟ
      <ion-icon name="icon-next"></ion-icon>
    </button>
  </form>



</ion-content>

<ion-footer no-border>
  <button ion-button full clear (click)="register()" *ngIf="!phone.dirty"> ΑΡΓΟΤΕΡΑ</button>
</ion-footer>