@font-face {
  font-family: 'icomoon';
  src:  url('../assets/fonts/icomoon.eot?2ruxcb');
  src:  url('../assets/fonts/icomoon.eot?2ruxcb#iefix') format('embedded-opentype'),
    url('../assets/fonts/icomoon.ttf?2ruxcb') format('truetype'),
    url('../assets/fonts/icomoon.woff?2ruxcb') format('woff'),
    url('../assets/fonts/icomoon.svg?2ruxcb#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-add:before {
  content: "\e900";
}
.icon-attachment:before {
  content: "\e901";
}
.icon-chat-1:before {
  content: "\e902";
}
.icon-chat:before {
  content: "\e903";
}
.icon-coffee-cup:before {
  content: "\e904";
}
.icon-contacts:before {
  content: "\e905";
}
.icon-email:before {
  content: "\e906";
}
.icon-export:before {
  content: "\e907";
}
.icon-flame:before {
  content: "\e908";
}
.icon-four_squares:before {
  content: "\e909";
}
.icon-garbage:before {
  content: "\e90a";
}
.icon-heart:before {
  content: "\e90b";
}
.icon-help:before {
  content: "\e90c";
}
.icon-history:before {
  content: "\e90d";
}
.icon-home:before {
  content: "\e90e";
}
.icon-import:before {
  content: "\e90f";
}
.icon-levels:before {
  content: "\e910";
}
.icon-lightning:before {
  content: "\e911";
}
.icon-map:before {
  content: "\e912";
}
.icon-medal:before {
  content: "\e913";
}

.ion-ios-icon-next:before,
.ion-ios-icon-next-outline:before,
.ion-md-icon-next:before,
.ion-md-icon-next-outline:before,
.icon-next:before {
  content: "\e914";
  font-size: 26px;
}
.icon-notifications:before {
  content: "\e915";
}
.icon-padlock:before {
  content: "\e916";
}
.icon-photo-camera:before {
  content: "\e917";
}
.icon-picture-1:before {
  content: "\e918";
}
.icon-picture:before {
  content: "\e919";
}
.icon-pictures:before {
  content: "\e91a";
}
.icon-pie-chart:before {
  content: "\e91b";
}
.icon-received_gifts:before {
  content: "\e91c";
}
.icon-search:before {
  content: "\e91d";
}
.icon-send:before {
  content: "\e91e";
}
.icon-settings:before {
  content: "\e91f";
}

.ion-ios-icon-shop:before,
.ion-ios-icon-shop-outline:before,
.ion-md-icon-shop:before,
.ion-md-icon-shop-outline:before,
.icon-shop:before {
  content: "\e920";
  font-size: 26px;
}

.ion-ios-icon-star:before,
.ion-ios-icon-star-outline:before,
.ion-md-icon-star:before,
.ion-md-icon-star-outline:before,
.icon-star:before {
  content: "\e921";
  font-size: 26px;
}
.icon-startup:before {
  content: "\e922";
}
.icon-tag:before {
  content: "\e923";
}

.ion-ios-icon-user:before,
.ion-ios-icon-user-outline:before,
.ion-md-icon-user:before,
.ion-md-icon-user-outline:before,
.icon-user:before {
  content: "\e924";
  font-size: 26px;
}
.ion-ios-icon-wallet:before,
.ion-ios-icon-wallet-outline:before,
.ion-md-icon-wallet:before,
.ion-md-icon-wallet-outline:before,
.icon-wallet:before {
  content: "\e925";
  font-size: 26px;
}
