<ion-header no-border>

  <ion-navbar>
    <ion-title>Ιστορικό</ion-title>
  </ion-navbar>

</ion-header>


<ion-content >
    <ion-list no-lines *ngIf="0 === transactions?.length">
        <ion-item>
           Δεν υπάρχουν συναλλαγές..
        </ion-item>
    </ion-list>

    <ion-list>
        <button ion-item text-wrap *ngFor="let transaction of transactions" (click)="goToTransaction($event, transaction)">


            <header *ngIf="transaction.type === 'pay'" > Πληρωμή με {{ transaction.card }}</header>
            <header *ngIf="transaction.type === 'refund'" > Επιστροφή σε {{ transaction.card }}</header>

            <p *ngIf="transaction.type === 'pay'">Σε: {{ transaction.company }}</p>
            <p *ngIf="transaction.type === 'refund'">Από: {{ transaction.company }}</p>

            <p item-left>{{ transaction.date }}<br>{{ transaction.time }} </p>

            <p item-right  *ngIf="transaction.type === 'pay'">- {{ transaction.ammount }}€ </p>
            <p item-right  *ngIf="transaction.type === 'refund'">+ {{ transaction.ammount }}€  </p>
        </button>
    </ion-list>


</ion-content>
