// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.global__input-error {
    color: red
}

@import "../theme/icons";


@font-face {
  font-family: 'Comfortaa';
  src: url('../assets/Comfortaa2.woff2');
}
@font-face {
    font-family: 'Comfortaa';
    src: url('../assets/Comfortaa3.woff2');
  }

  *{
    font-family: 'Comfortaa', cursive;
  }

  ion-title{
    .logo{
   //font-weight: bold;
   //font-size: 1.6em;
   //text-align: center;
   //width: auto; 
   display:block; 
   margin:auto;
   width: 30%
  }
  }