
<ion-header no-border>

  <ion-navbar>
    <ion-title>Ειδοποιήσεις</ion-title>
  </ion-navbar>

</ion-header>


<ion-content >
    <ion-list no-lines *ngIf="0 === notifications?.length">
        <ion-item>
           Δεν υπάρχουν νέες ειδοποιήσεις..
        </ion-item>
    </ion-list>

    <ion-list>
        <button ion-item text-wrap *ngFor="let notification of notifications" (click)="goToNotification($event, notification)">

            <ion-avatar *ngIf="notification.avatar" item-left>
                <img [src]="notification.avatar">
            </ion-avatar>

            <header>{{ notification.name }}</header>

            <p>{{ notification.content }}</p>

            <p>{{ notification.date }}</p>

        </button>
    </ion-list>
</ion-content>
