<ion-header no-border>
  <ion-navbar>
        <ion-title>
                <img class="logo"  src="assets/img/logo.svg">
              <!-- <span class="logo">Plustic</span> -->
            </ion-title>
   <!--  <ion-buttons end>
      <button ion-button icon-only>
          <span >{{ (coins | async)?.coins }}</span>
          <ion-icon name="logo-usd"></ion-icon>
        </button>
    </ion-buttons> -->
  </ion-navbar>
</ion-header>

<ion-content>

  <app-profile-view (existingProfile)="getExistingProfile($event)"></app-profile-view>



  <ion-list no-lines>
      <button ion-item  (click)="navigateToPage('NotificationsPage')">
        <!--   <ion-icon name="notifications" item-start></ion-icon> -->
          Ειδοποιήσεις
         <!--  <ion-badge *ngIf="notifications > 0" color="accent" item-right>{{ notifications }}</ion-badge> -->
      </button>
      <button ion-item  (click)="navigateToPage('HistoryPage')">
         <!--  <ion-icon name="list" item-start></ion-icon> -->
          Ιστορικό
      </button>
      <button ion-item  (click)="navigateToEditProfilePage()">
         <!--  <ion-icon name="person" item-start></ion-icon> -->
          Επεξεργασία προφίλ
      </button>

      <button ion-item  (click)="navigateToPage('ContactPage')">
            Επαφές
           </button>

      <button ion-item  (click)="navigateToPage('SettingsPage')">
        Ρυθμίσεις
    </button>

      <button ion-item  (click)="navigateToPage('InfoPage')">
          Πληροφορίες
         </button>

      <button ion-item (click)="signOut()">
          Αποσύνδεση
        </button>
  </ion-list>

<!--   <button class="center" ion-button round outline (click)="invite( $event )" color="danger">
      ΠΡΟΣΚΑΛΕΣΤΕ ΦΙΛΟΥΣ
  </button> -->

</ion-content>