page-account {

    ion-item{

        ion-avatar img {
                    width:100%;
                    height : 100%;
                    max-width: 8rem;
                    max-height: 8rem;
                    border-radius: 4rem;
                    margin-bottom: 2rem;
                    margin-top: 2rem;
                }
        ion-thumbnail img {
                    width:100%;
                    height : 100%;
                    max-width: 8rem;
                    max-height: 8rem;
                    border-radius: 4rem;
                    margin-bottom: 2rem;
                    margin-top: 2rem;
                }

}
.center{
    width: auto; 
    display:block; 
    margin:auto;
}
}
