<ion-header>
  <ion-navbar>
    <ion-title>Exchange coins</ion-title>
    <ion-buttons end>
      <button ion-button icon-only>
        <span >{{ (coins | async)?.coins }}</span>
        <ion-icon name="logo-usd"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>

<ion-card *ngFor="let Product of productList | async">

  <!-- <img src="{{Product.photo}}">
 -->
  <ion-card-content>
      <h1>{{Product.title }}</h1>
      <p>{{Product.description }}</p>
      <button ion-button full outline (click)="submitProductExchange(Product)" [disabled]=" Product.cost >= (coins | async)?.coins">Exchange for {{Product.cost }} coins</button>
    </ion-card-content>
</ion-card>

</ion-content>
